extends ../template
block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js')
    script(src='/bird.js')
    script(src='/pipe.js')
    script(src="/flappy.js")