extends ../template
block content
    link(rel="stylesheet", href="games.css")
    a(href="/") Click here to return to the main page.
    ul Games:
        li
            a(href="/games/flappy") Bappy Flird